* {
      margin: 0px
      padding: 0px
    }
    body {
      color: #000;
      font-family: Monospace;
      font-size: 13px;
      background-color: #fff;
      margin: auto;
      text-align: justify;
    }


    #info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  font-size: 2em;
}

#volume{
position: absolute;
top: 45px;
width: 100%;
text-align: center;
z-index: 100;
display:block;
font-size: 1.2em;
}
